{% extends "base.html" %}

{% block html_title %}Archive · {{ config.title }}{% endblock %}
{% block meta_description %}Full list of posts on {{ config.title }}. {{ config.description }}{% endblock %}
{% block og_title %}Archive · {{ config.title }}{% endblock %}
{% block og_description %}Full list of posts on {{ config.title }}. {{ config.description }}{% endblock %}
{% block twitter_title %}Archive · {{ config.title }}{% endblock %}
{% block twitter_description %}Full list of posts on {{ config.title }}. {{ config.description }}{% endblock %}
{% block canonical %}{{ section.permalink }}{% endblock %}
{% block og_url %}{{ section.permalink }}{% endblock %}

{% block content %}
<div class="archive-container">

  <div class="archive-title">
    {{ section.title }}
  </div>

  <div class="archive-count">{{ section.pages | length }} articles</div>

  <div class="archive-list">
    {% for page in section.pages %}
    <div class="archive-list-header">{{ page.date }}</div>
    <div class="archive-list-item">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </div>
    {% endfor %}
  </div>

</div> <!-- ends for archive-container -->
{% endblock content %}
