{% extends "base.html" %}

{% block html_title %}Tags · {{ config.title }}{% endblock %}
{% block meta_description %}Browse tags on {{ config.title }}. {{ config.description }}{% endblock %}
{% block og_title %}Tags · {{ config.title }}{% endblock %}
{% block og_description %}Browse tags on {{ config.title }}. {{ config.description }}{% endblock %}
{% block twitter_title %}Tags · {{ config.title }}{% endblock %}
{% block twitter_description %}Browse tags on {{ config.title }}. {{ config.description }}{% endblock %}
{% block canonical %}{{ get_url(path='/tags') }}{% endblock %}
{% block og_url %}{{ get_url(path='/tags') }}{% endblock %}

{% block content %}

<div class="tag-container">
  <div class="tag-title">Tags</div>
  <div class="tag-count">{{ terms | length }} tags</div>
</div>

<div class="tag-cloud">
  {% for term in terms %}
  <div class="tag-cloud-item">
    <a href="{{ term.permalink }}">{{ term.name }}</a>
    <span class="tag-cloud-item-count">{{ term.page_count }}</span>
  </div>
  {% endfor %}
</div>

{% endblock content %}
