{% extends "base.html" %}

{% block html_title %}{{ term.name }} · Tags · {{ config.title }}{% endblock %}
{% block meta_description %}Posts tagged “{{ term.name }}” on {{ config.title }}. {{ config.description }}{% endblock %}
{% block og_title %}{{ term.name }} · {{ config.title }}{% endblock %}
{% block og_description %}Posts tagged “{{ term.name }}” on {{ config.title }}. {{ config.description }}{% endblock %}
{% block twitter_title %}{{ term.name }} · {{ config.title }}{% endblock %}
{% block twitter_description %}Posts tagged “{{ term.name }}” on {{ config.title }}. {{ config.description }}{% endblock %}
{% block canonical %}{{ term.permalink }}{% endblock %}
{% block og_url %}{{ term.permalink }}{% endblock %}

{% block content %}

<div class="tag-container">
  <div class="tag-caption">
    <a href="{{ get_url(path=taxonomy.name) }}">{{ taxonomy.name }}</a>
    <span class="chevron">›</span>
  </div>
  <div class="tag-title">
    {{ term.name }}
  </div>
  <div class="tag-count">
    {{ term.page_count }} articles
  </div>
</div>

<div class="items">
  {% for page in term.pages %}
  <div class="item">
    <div class="item-main">
      <div class="item-title"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
      <div class="item-info">
	<div class="item-date">{{ page.date }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
